# Google Tag Manager ID
PUBLIC_GTM_ID=GTM-T82M4TL

# API Configuration for Contact Forms
PUBLIC_CONTACT_API_HOST=https://api-crm.yummiespromociones.com/api
PUBLIC_CONTACT_API_TOKEN=your_api_token_here

# Contact Form Endpoint
PUBLIC_CONTACT_FORM_PATH=/api/v1/auth/email/custom

# Add other environment variables here
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoiYXBpX3Rva2VuIiwidG9rZW5JZCI6IjM0NzkxNjU2LTA3M2ItNGVkZS1hNzE1LWI4MTRjYjQ0NWExNSIsImNyZWF0ZWRCeSI6NCwic2NvcGVzIjp7ImJyYW5kcyI6InIiLCJuZXdzIjoiciIsInBhZ2VzIjoiciIsInByb2R1Y3RzIjoiciIsInJlY2lwZXMiOiJyIiwic2l0ZXMiOiJyIn0sImV4cCI6MTkyMjgzMjAwMCwiaWF0IjoxNzc1NTM2NzYyLCJqdGkiOiIzNDc5MTY1Ni0wNzNiLTRlZGUtYTcxNS1iODE0Y2I0NDVhMTUifQ.RLzlosVGb2MlrK_L9MtGttoVpJ_MwBS8ysbeCkrf5HQ