# Google Tag Manager ID
PUBLIC_GTM_ID=GTM-T82M4TL

# API Configuration for Contact Forms
PUBLIC_CONTACT_API_HOST=https://api-crm.yummiespromociones.com/api
PUBLIC_CONTACT_API_TOKEN=your_api_token_here

# Contact Form Endpoint
PUBLIC_CONTACT_FORM_PATH=/api/v1/auth/email/custom

PUBLIC_CMS_URL=http://localhost:9011
PUBLIC_CMS_TOKEN=your_cms_api_token_here
PUBLIC_CMS_SITE_ID=your_site_id_here
PUBLIC_CMS_BRAND_SLUG=yummi-nuts