---

export interface Props {
  title: string;
  images: Array<{
    id: string;
    desktop: string;
    mobile: string;
    alt: string;
    title: string;
    description: string;
    link: string;
  }>;
}

const { title, images } = Astro.props;
---

<div class="box-border flex flex-col gap-12 items-left justify-start container mx-auto  py-0 relative w-full bg-white">
  <h2 class="font-heading leading-none not-italic text-black text-4xl md:text-6xl tracking-tight text-left">
    {title}
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-6 md:gap-8 w-full">
    <div class="w-full aspect-[9/16] overflow-hidden rounded-xl">
      <iframe
        src="https://www.instagram.com/reel/DPCEX3gETX7/embed"
        class="w-full h-full"
        allowtransparency="true"
        allowfullscreen
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
    <div class="w-full aspect-[9/16] overflow-hidden rounded-xl">
      <iframe
        src="https://www.instagram.com/reel/DPP-dSREWWZ/embed"
        class="w-full h-full"
        allowtransparency="true"
        allowfullscreen
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
    <div class="w-full aspect-[9/16] overflow-hidden rounded-xl">
      <iframe
        src="https://www.instagram.com/reel/DPP-dSREWWZ/embed"
        class="w-full h-full"
        allowtransparency="true"
        allowfullscreen
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
    <div class="w-full aspect-[9/16] overflow-hidden rounded-xl">
      <iframe
        src="https://www.instagram.com/reel/DPCEX3gETX7/embed"
        class="w-full h-full"
        allowtransparency="true"
        allowfullscreen
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
  </div>
</div>
